.ins-activation {
  display: flex;
  justify-content: center;
  .activation-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ._aak1 {
      width: 350px;
      display: flex;
      height: 407px;
      flex-direction: column;
      ._ab8w {
        ._ppkk {
          .icon {
            img {
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
    ._aak3 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .dees {
        display: flex;
        flex-direction: row;
        gap: 5px;

        .llo {
          img {
            width: 145px;
            height: 56px;
          }
        }
      }
    }
  }
}

// .ins-activation {
//   color: rgb(var(--ig-primary-text));
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
//   justify-content: center;
//   margin-top: 12px;
//   max-width: 350px;
//   ._aak1 {
//     align-items: center;
//     background-color: rgb(var(--ig-primary-background));
//     border: 1px solid rgb(var(--ig-elevated-separator));
//     border-radius: 1px;
//     box-sizing: border-box;
//     display: flex;
//     flex-direction: column;
//     flex-shrink: 0;
//     font: inherit;
//     font-size: 100%;
//     margin: 0 0 10px;
//     padding: 10px 0;
//     position: relative;
//     vertical-align: baseline;
//   }
// }
